#datepicker {
  font-family: 'Open sans', Roboto, sans-serif;
  width: 250px;
  height: auto;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 5px;
  // margin: auto;
  .calendarInfo {
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: hsla(353, 86%, 62%, 1);
    color: white;
    .date {
      text-transform: capitalize;
      cursor: pointer;
    }
    a {
      cursor: pointer;
      color: white;
    }
  }
  .date-modal {
    box-shadow: #ccc 1px 1px 1px, #ccc -1px 1px 1px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: white;
    left: 53px;
    top: 25px;
    .modal-header {
      height: 30px;
      background-color: hsla(353, 86%, 62%, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: white;
      text-transform: capitalize;
    }
  }
  table {
    margin: auto;
    height: 100%;
    padding: 0 10px 10px 10px;
    th, td {
      height: 35px;
      width: 35px;
      vertical-align: middle;
      box-sizing: border-box;
      text-align: center;
      text-transform: capitalize;
      font-weight: 300;
      padding: 0;
    }
    th {
      color: #999999;
      font-weight: 400;
    }
    td {
      cursor: pointer;
      color: #999999;
      &:hover {
        color: hsla(353, 86%, 62%, 1);
        font-weight: 500;
      }
      &.selected {
        background-color: hsla(353, 86%, 62%, 1);
        color: white;
      }
      &.disabled {
        cursor: not-allowed;
        background-color: hsl(100, 0, 90);
        &:hover {
          color: #999;
          font-weight: 300;
        }
      }
    }
  }
  .months {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2px 10px 10px 10px;
    > * {
      width: calc((100% / 4) - 22px);
      height: 35.5px;
      margin: 10px;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid transparent;
      color: #999999;
      &:hover {
        background-color: hsla(353, 86%, 62%, 0.5);
        color: white;
        border-radius: 50%;
      }
      &.selected {
        border: 1px solid hsla(353, 86%, 62%, 1);
        border-radius: 50%;
      }
    }
  }
}